---
const { title, description, seo = {} } = Astro.props;
---
<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{seo.ogImage && <meta property="og:image" content={seo.ogImage} />}
{seo.twitterCard && <meta name="twitter:card" content={seo.twitterCard} />}
